<%- include("../partials/header.ejs") -%>

<div class="container">
    <a href="/stalls/new" class="btn btn-success text-white my-5 btn-lg">Create your stall</a>
</div>
<%
allStall.forEach(stall => {%>
<div class="container">
    <div class="card-columns">
        <a href="/stalls/<%= stall._id %>">
            <div class="card">
                <img class="card-img-top" src="<%= stall.image %>" alt="<%= stall.name %>">
                <div class="card-body">
                    <h4 class="card-title">
                        <p><%= stall.name %>
                    </h4>
                </div>
            </div>
        </a>
    </div>
</div>
<%});
%>

<%- include("../partials/footer.ejs") -%>