<%- include("../partials/header") -%>

<div class="container">
    <div class="card my-4">
        <img class="card-img-top rounded-top" src="<%= foundStall.image %>" alt="<%= foundStall.name %>">
        <div class="card-body">
            <h3 class="text-capitalize card-title font-weight-bold"><%= foundStall.name %></h3>
            <p class="card-text lead"><%= foundStall.description %></p>
            <p class="card-text font-italic font-weight-normal lead">
                ✭ Giá niêm yết: <%= Intl.NumberFormat().format(foundStall.price) %> Vnd/Kg</p>
        </div>
    </div>
</div>



<%- include("../partials/footer") -%>